.badge-vermelho {
    background: rgb(242, 142, 142);
    text-align: center;
    padding: 3px;
    border-radius: 12%;
}

.badge-amarelo {
    background: rgb(228, 228, 108);
    text-align: center;
    padding: 3px;
    border-radius: 12%;
}

.badge-verde {
    background: rgb(158, 237, 158);
    text-align: center;
    padding: 3px;
    border-radius: 12%;
}